.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1dvh;
}

.listItem {
    list-style: none;
    border: 1px solid var(--corSecundaria);
    display: flex;
    flex-direction: column;
    background-color: var(--corPrincipal);
    padding: 3dvh;
    gap: 1.5dvh;
    border-radius: 12px;
}

.itemName b, .itemLanguage b{
    margin-right: 0.5dvh;
}

.itemLink {
    display: block;
    background-color: var(--corSecundaria);
    color: var(--corTerciaria);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    border-radius: 12px;
}